body {
    font-family: Chewy, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf0e9bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


header {
    background-color: #97c294;
    color: black;
    padding: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

main {
    padding: 2em;
    flex: 1; /* Grow to fill the available space */
}

#logo {
    position: absolute;
    left: 80px;
    top: -38px;
    width: 179px;
    height: 175px;
}

#loginlogo {
    object-fit: contain;
    left: 290px;
    top: 0px;
    width: 475px;
    height: 450px;
}

.login-container {
    object-fit: contain;
    width: 300px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #97c294 ;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 91%;
    padding: 4%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.form-group button:hover {
    background-color: green;
}