<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleaboutus.css') }}">
</head>
<body>

    <a href="/">
        <header>
            <a href="/">
            <img id ="logo" src="{{ url_for('static', filename='images/Logo 1.png') }}" alt="Chef AI homepage Logo">
            </a>
        </header>
    </a>
    <main>
        <h2>Our Goal </h2>
        </div class ="ourGoal">
            <p>This is our goal</p>
    </main>
</body>
</html>
