<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_signup.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <img id ="logo" src="{{ url_for('static', filename='images/logo 1.png') }}" alt="Chef AI homepage Logo">
    <div class="signup-container">
        <h1>Sign Up</h1>
        <form id="signup-form" action="/" method="post">
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group">
                <button type="submit" onclick="validateAndSubmit(event)">Sign Up</button>
            </div>
        </form>
        <span id="error-message" style="color: red; visibility: hidden">Password does not match</span>
    </div>
    <script>
        function validateAndSubmit(event) {
            var password = document.getElementById('password');
            var confirmPassword = document.getElementById('confirm-password');
            var errorMessage = document.getElementById('error-message');
            var name = document.getElementById('name');
            var email = document.getElementById('email');

            if(password.value !== confirmPassword.value) {
                errorMessage.style.visibility = 'visible';
                errorMessage.textContent = 'Password does not match';
                event.preventDefault(); // Prevent form submission
            } else {
                errorMessage.style.visibility = 'visible';
                errorMessage.textContent = 'Creating account...';
                password.disabled = true;
                confirmPassword.disabled = true;
                name.disabled = true;
                email.disabled = true;

                name.style.backgroundColor = '#ddd';
                email.style.backgroundColor = '#ddd';
                password.style.backgroundColor = '#ddd'; // Grey out
                confirmPassword.style.backgroundColor = '#ddd'; // Grey out
                event.preventDefault();

                setTimeout(function() {
                    document.getElementById('signup-form').submit();
                }, 3000); // Delay of 3000 milliseconds (3 seconds)
        }
    }
    </script>
</body>
</html>